.jumbotron p{
    font-weight: 100;
    font-size: 15px;
    margin-top: 15px;
}

.jumbotron{
    background-color: #0000ff33;
}

.jumbotron .h1, .jumbotron h1{
    font-size: 300%;
    text-decoration: underline;
}

.titles1{
    text-align: center;
}