/*.jumbotron p{
    font-weight: 100;
    font-size: 15px;
    margin-top: 15px;
}

.jumbotron{
    background-color: #0000ff33;
}

.jumbotron .h1, .jumbotron h1{
    font-size: 300%;
    text-decoration: underline;
    margin-top: 0px;
}*/

body{
    position: relative; 
}

#section1{
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: rgb(9, 88, 154);
}

#section2{
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #f6d06c;
}

#section3{
    padding-top:50px;
    max-height:900px;
    min-height:500px;
    color: #fff; 
    background-color: rgb(9, 88, 154);
}

#section4{
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #f6d06c;
}

.titles1{
    text-align: center;
}

h1{
    color: white;
}

#info{
    color:rgb(201, 201, 201);
    font-size: 14px;
   /* padding-top:19px;
    float: left;
    padding-right: 20px;*/
}

#title{
    font-size: 23px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    color:white;
}

#first{
    padding-top:50px;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: transparent!important;
    color: #a19494;
}

.navbar-nav>li>a {
    padding-top: 21.5px;
    padding-bottom: 10px;
    line-height: 20px;
}

li{
    padding-bottom: 20px;
    font-size: 15px;
}

#myList{
    padding-top: 50px;
}

#footer1{
    background-color: #222;
}

#footerInfo{
    color: white;
    font-size: 17px;
}

a{
    color: rgb(201, 201, 201);
    text-decoration: underline;
}

#lineHeight{
    line-height: 30px;
    padding-bottom: 20px;
}

.lineHeight2{
    line-height: 5px;
    padding-bottom: 20px;
}

#lineHeight3{
    padding-top: 20px;
}

#sectionTitle{
    margin-top: 0%;
}

::-webkit-scrollbar{
    width: 8px;
}
  
::-webkit-scrollbar-track{
    background: #222;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #656565;
}

.navbar{
    background: #222;
    border-bottom-width: 0px;
}